<h1>Author: <%= params[:author] %></h1>

<% @authors.shift(10).each do |author| %>
  <ul class="author">
    <li class="title"><%= author.title %></li>
    <li class="name"><%= author.name %></li>
    <li class="poem"><%= author.poem %></li>
  </ul>
<% end %>